<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importancia de Conocer Herramientas de Programación</title>
    <<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Importancia de Conocer Herramientas de Programación</h1>
    </header>
    <section>
        <p>En la era digital en la que vivimos, el conocimiento de herramientas de programación es >
        <p>Desde el desarrollo web hasta la creación de software, la programación está en el corazó>
        <p>Conocer herramientas como HTML, CSS, JavaScript, Python y muchas otras, permite crear so>
        <p>Además, la comprensión de la lógica de programación ayuda a mejorar la resolución de pro>
    </section>
    <footer>
        <p>&copy; 2024 Desarrollado por Anthony Arango</p>
    </footer>
</body>
</html>
